In [1]:

#Strings are sequences of character enclosed within single quotes(''),double("")or triple('''''')
#for eg= 'hello worlds', "hello world",'''hello world'''

In [2]:
str1='this is my first string'
str1

'this is my first string'

In [6]:
str2="this is my second string"
str2

'this is my second string'

In [9]:
str3='''
My name is mohammed taj ansari
i am 23 years old
i am working in ibis vikhroli
for 9months

'''
str3

'\nMy name is mohammed taj ansari\ni am 23 years old\ni am working in ibis vikhroli\nfor 9months\n\n'

In [10]:
#extracting individual characters

In [29]:
my_string='my name is taj working in ibis vikhroli mumbai'
my_string

'my name is taj working in ibis vikhroli mumbai'

In [30]:
my-string[2]

' '

In [15]:
my_string[-6]

'i'

In [20]:
my_string[5:8:10]

'm'

In [1]:
#string functions
#finding length of strings

In [3]:
str10="my name is Taj ansari"
str10

'my name is Taj ansari'

In [4]:
len(str10)

21

In [7]:
str10.lower()

'my name is taj ansari'

In [8]:
str10.upper()

'MY NAME IS TAJ ANSARI'

In [9]:
#Replace functions
str11="my name is taj ansari"
str11

'my name is taj ansari'

In [13]:
str11.replace('t','r')

'my name is raj ansari'

In [16]:
str11.count("my name")

1

In [22]:
animals="lion is the king of the jungle"
animals

'lion is the king of the jungle'

In [31]:
animals.count('the')

2

In [27]:
animals.replace('lions is the king of the jungle','tiger is the dangerous animal')

'lion is the king of the jungle'

In [29]:
strnew="tiger is the dangerous animal"
strnew

'tiger is the dangerous animal'

In [30]:
strnew.replace('tiger is the dangerous animal','bear is more dangerous')

'bear is more dangerous'

In [34]:
strnew.count("a")

3

In [35]:
str="my name is taj ansari"
str

'my name is taj ansari'

In [36]:
str.find('ansari')

15

In [39]:
str="hello world is awesome"
str

'hello world is awesome'

In [46]:
str.split('o')

['hell', ' w', 'rld is awes', 'me']

In [1]:
#string

In [2]:
str1='''my name is taj ansari
i work in ibis vikhroli mumbai
i am 23 years old
i live in sion
'''

In [3]:
str1

'my name is taj ansari\ni work in ibis vikhroli mumbai\ni am 23 years old\ni live in sion\n'

In [4]:
str1[2:9]

' name i'

In [5]:
len(str1)

86

In [6]:
str1.lower()

'my name is taj ansari\ni work in ibis vikhroli mumbai\ni am 23 years old\ni live in sion\n'

In [7]:
str1.upper()

'MY NAME IS TAJ ANSARI\nI WORK IN IBIS VIKHROLI MUMBAI\nI AM 23 YEARS OLD\nI LIVE IN SION\n'

In [9]:
str1.replace('t','r')

'my name is raj ansari\ni work in ibis vikhroli mumbai\ni am 23 years old\ni live in sion\n'

In [11]:
str1.count("my name is holland")

0

In [12]:
str1.replace("my name is taj ansari","he is playing cricket")

'he is playing cricket\ni work in ibis vikhroli mumbai\ni am 23 years old\ni live in sion\n'

In [16]:
str1.count('a')

7

In [17]:
str1="lion is the king of the jungle and peacock is the nationsal bird"
str1

'lion is the king of the jungle and peacock is the nationsal bird'

In [18]:
str1.find("jungle")

24

In [19]:
str1.split("peacock")

['lion is the king of the jungle and ', ' is the nationsal bird']

In [1]:
#practice

In [2]:
"hello"

'hello'

In [5]:
print("hello world")

hello world

In [10]:
str1="hello world"
str1[::-1]

'dlrow olleh'

In [15]:
name="sam"

In [16]:
last_letters=name[1:]

In [18]:
last_letters

'am'

In [20]:
'p' + last_letters

'pam'

In [24]:
a ="hello wolrd "

In [25]:
a + "it is beautiful outside"

'hello wolrd it is beautiful outside'